body,.app{
    overflow: hidden;

    .diag{
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 0;
        height: 66%;
    }
    
    ion-icon{
        margin-top:40%;
        font-size: 7em;
    }
    
    h2{
        font-weight: bold;
        font-size: 1em;
        padding-top:30px 
    }
    
    p{
        display: block;
        margin: 0;
        font-size: 0.9em;
        text-align: center;
        padding: 1em;
    }
    
    .swiper-pagination-bullet-active {
        background-color: #c400ff;
    }
    
    .swiper-pagination{
        bottom: 12% !important;
    }
    
    #skip{
        position: absolute;
        bottom: 20px;
        width: 100%;
        background:none !important;
        text-align: center;
        cursor: pointer;
        z-index:5;
    }
    
    .shadow{
        margin-top: 60% !important;
        width: 100%;
        padding-top: 0%;
        color: #565656;
    }
}